.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-dark: hsl(300, 43%, 22%);
  --color-primary-light: hsl(333, 80%, 67%);
  --color-neutral-dark: hsl(303, 10%, 53%);
  --color-neutral-light: hsl(300, 24%, 96%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

.review-container {
  max-width: 375px;
  margin: 0 auto;
  padding: 50px 0 50px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary-dark);
  margin: 0 auto 15px;
  text-align: center;
  max-width: 50%;
  line-height: 0.8;
}

p {
  text-align: center;
  max-width: 75%;
  margin: 0 auto 20px;
  line-height: 1.2;
}

.rating-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 90%;
  margin: 0 auto 25px;
}

.rating-card {
  background-color: var(--color-neutral-light);
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.rating-card p {
  margin-bottom: 0;
}

.stars {
  display: flex;
  gap: 7px;
}

.review-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 90%;
  margin: 0 auto;
}

.review-card {
  background-color: var(--color-primary-dark);
  color: var(--color-neutral-light);
  border-radius: 5px;
  padding: 25px;
  position: relative;
}

.review-card img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name {
  font-weight: 600;
  margin-left: 10px;
  margin-top: -50px;
}

.position {
  color: var(--color-primary-light);
  margin-top: -20px;
  margin-left: 10px;
}

.review {
  margin: 40px 0 0;
  font-size: 1rem;
}

.review p {
  text-align: left;
  margin: 0;
}
