.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-dark: hsl(300, 43%, 22%);
  --color-primary-light: hsl(333, 80%, 67%);
  --color-neutral-dark: hsl(303, 10%, 53%);
  --color-neutral-light: hsl(300, 24%, 96%);
  --color-neutral-white: hsl(0, 0%, 100%);
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

.review-container {
  max-width: 375px;
  margin: 0 auto;
  padding: 50px 0 50px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary-dark);
  margin: 0 auto 15px;
  text-align: center;
  max-width: 50%;
  line-height: 0.8;
}

.overview {
  text-align: center;
  max-width: 75%;
  margin: 0 auto 20px;
  line-height: 1.2;
}

p {
  line-height: 1.2;
}

.rating-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 90%;
  margin: 0 auto 25px;
}

.rating-card {
  background-color: var(--color-neutral-light);
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.rating-card p {
  margin-bottom: 0;
}

.stars {
  display: flex;
  gap: 7px;
}

.review-cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 90%;
  margin: 0 auto;
}

.review-card {
  background-color: var(--color-primary-dark);
  color: var(--color-neutral-light);
  border-radius: 5px;
  padding: 25px;
  position: relative;
}

.review-card img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.name {
  font-weight: 600;
  margin-top: -50px;
  text-align: center;
  margin-left: -75px;
}

.position {
  color: var(--color-primary-light);
  text-align: center;
  margin-left: -75px;
}

.review {
  margin: 40px 0 0;
  font-size: 1rem;
}

.review p {
  text-align: left;
}

@media screen and (min-width: 780px) {
  .review-container {
    max-width: 1000px;
  }
  .heading {
    font-size: 3rem;
    text-align: left;
    margin: 0 50px;
  }

  .overview {
    text-align: left;
    opacity: 0.6;
    font-size: 1.2rem;
    margin: 30px 50px;
    max-width: 60%;
  }

  .rating-card {
    display: flex;
    flex-direction: row;
    max-width: 425px;
    padding-left: 40px;
  }

  .stars {
    padding-right: 20px;
  }

  .review-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 5px) repeat(1, 175px) repeat(3, 5px);
  }

  .review-card {
    width: 350px;
  }

  .one {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: -3;
  }

  .two {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: -2;
  }

  .three {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: -1;
  }
}
